/* Body area */
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

/* Title area */
#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/* Score board area */
#score {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#score #human-score p {
    font-size: 48px;
    margin: 0px;
}

#score #computer-score p {
    font-size: 48px;
    margin: 0px;
}

/* RPS buttons area */
#buttons {
    display: flex;
    flex-direction: row;
}

img {
    /* Lets pixel imgs scale to any size with no blurring */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 200px; 
    height:200px;
}

/* Round results area */
#results {
    display: flex;
    flex-direction: column;
}