/* Body area */
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    background-color: lightgoldenrodyellow;
}

/* Title area */
#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 6vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Score board area */
#score {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 8px;
    
    border: solid 2px rgb(108, 199, 255);
    background-color: lightskyblue;
}

#score #human-score h2 {
    font-size: 48px;
    margin: 0px;
    font-size: 4.5vw;
    margin: 8px;
    text-align: center;

    background-color: rgb(161, 219, 255);
}

#score #computer-score h2 {
    font-size: 48px;
    margin: 0px;
    font-size: 4.5vw;
    margin: 8px;
    text-align: center;

    background-color: rgb(161, 219, 255);
}

#score #human-score p {
    font-size: 48px;
    margin: 0px;
    font-size: 4.5vw;
    margin: 8px;
    text-align: center;

    background-color: rgb(161, 219, 255);
}

#score #computer-score p {
    font-size: 48px;
    margin: 0px;
    font-size: 4.5vw;
    margin: 8px;
    text-align: center;

    background-color: rgb(161, 219, 255);
}

/* RPS buttons area */
#buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

#buttons p {
    font-size: 2vw;
    margin: 4px;
}

img {
    /* Lets pixel imgs scale to any size with no blurring */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 200px; 
    height:200px;
}

@media (max-width: 650px) {
    #buttons {
        display: flex;
        flex-direction: column;
        width: 65%;
        gap: 16px;
        align-items: space-evenly;
    }

    #buttons p {
        font-size: 5vw;
        margin: 4px;
    }

    img {
        /* Lets pixel imgs scale to any size with no blurring */
        image-rendering: pixelated;
        image-rendering: crisp-edges;
        width: 100px; 
        height: 100px;
    }

}

/* Round results area */
#results {
    display: flex;
    flex-direction: column;
}